header {
    background: #bbbbbb;
    padding: 20px 0;
}

.caixa {
    width: 940px;
    position: relative;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 100px;
    right: 0;
    
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
    
}
.inline {
    display: inline;
}
nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    
}
nav a:hover {
    color: darkblue;
    text-decoration: underline;
}

.banner {
    width: 100%;
    height: auto;
    position: relative;
}

.principal {
    background:  #cccccc;
    padding: 20px;
    text-align: center;
}

.titulo-centralizado {
    text-align: center;
    font-size: 24px;
    font-weight: bold;

}
#missao {
    font-style: italic;
    font-size: 20px;
}
#missao strong {
    color: #ff0000;
}
.beneficios {
    padding: 20px;
}

.lista-beneficios{
    display: inline-block;
    vertical-align: top;
    margin-right: 150px;
    width: 25%;
    font-size: 20px;
}

.itens {
    padding: 5px;
}

.imagembeneficios {
    width: 50%;

}

footer {
    text-align: center;
    background: url(/imagens/bg.jpg);
    padding: 40px 0px;

}

.copyright {
    color: #ffffff;
    font-size: 13px;
    margin-top: 20px;
}

